#lg_0 .home{
    background: url(/tempControl/bglion.png?data=18457 ) no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}
#lg_0 .home h1 {
    vertical-align: top;
            color: #08b808;
        line-height: 40px;
        font-size: 50px;
        margin-top: 100px;
}
#lg_0 .home p {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}
#lg_0 .text{
    margin-bottom: 100px;
}
#lg_0 .home-b {
    margin: 0 0 20px;
}
@media(max-width: 992px){
    #lg_0 .home{
        height: auto;
        padding: 0;
        /*background-position: center -80px;*/
    }
    #lg_0 .home h1 {
        margin-top: 50px;
    }
    #lg_0 .text {
        margin-bottom: 40px;
    }
}
#lg_1 .b-steps{
	background-color: #ccc;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	vertical-align: top;
	margin: auto;
}
#lg_1 .span{
	font-size: 70px;
}
#lg_1 .flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
#lg_1 .steps{
	height: 724px;
	background-attachment: fixed;
	color: #2e150d;
	background-image: url(/tempControl/634463709.jpg?dt=222);
	-webkit-background-size: cover;
	background-size: cover;
}
#lg_2 .paralax-steps{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}
#lg_2 .paralax-steps .background{
	position:absolute;
	-webkit-background-size: cover;
	background-size:  cover;
	background-repeat: no-repeat;
	width:100%;
	height:100vh;
}

#lg_2 .paralax-steps .background.background_back{
	z-index: 1;
	background-image:url('/tempControl/bglion.png');
	width:calc(100% + 400px);
	height:calc(100vh + 600px);
	margin-left:-200px;
	margin-right:-200px;
	margin-top:-300px;
	margin-bottom:-300px;
}
#lg_2 .paralax-steps .background.background_middle{
	z-index: 2;
	background-image:url('/tempControl/person-1176659_1920.png');
	margin-left:-120px;
	margin-top:15px;
}
#lg_2 .paralax-steps .background.background_front{
	z-index: 3;
	background-image:url('/tempControl/pickachu.gif');
	/*background-size: 150px auto;*/
	opacity:0.1;
	background-size: cover;
	background-position: center center;
}
footer { 
	background-color:#0c1a1e;
}
.footerleft { 
	margin-top:50px;
	padding:0 36px;
}
.logofooter { 
	margin-bottom:10px;
	font-size:25px;
	color:#fff;
	font-weight:700;
}

.footerleft p { 
	color:#fff;
	font-size:12px !important;
	margin-bottom:15px;
}
.footerleft p i { 
	width:20px;
	color:#999;
}


.paddingtop-bottom {  
	margin-top:50px;
}
.footer-ul { 
	list-style-type:none;  
	padding-left:0px; 
	margin-left:2px;
}
.footer-ul li { 
	line-height:29px; 
	font-size:12px;
}
.footer-ul li a { 
	color:#a0a3a4; 
	-webkit-transition: color 0.2s linear 0s, background 0.2s linear 0s;
	transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}
.footer-ul i {
 margin-right:10px;
}
.footer-ul li a:hover {
	-webkit-transition: color 0.2s linear 0s, background 0.2s linear 0s;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color:#ff670f; 
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.icon-ul { 
 	list-style-type:none !important; 
 	margin:0px; 
 	padding:0px;
}
.icon-ul li { 
 	line-height:75px; 
 	width:100%; 
 	float:left;
}
.icon { 
 	float:left; 
 	margin-right:5px;
}
 
 
.copyright { 
 	min-height:40px; 
 	background-color:#000000;
}
.copyright p { 
 	text-align:left; 
 	color:#FFF; 
 	padding:10px 0;
	margin-bottom:0px;
}
.heading7 { 
 	font-size:21px; 
 	font-weight:700;
 	color:#d9d6d6; 
 	margin-bottom:22px;
}
.post p { 
 	font-size:12px;
	color:#FFF; 
 	line-height:20px;
}
.post p span { 
 	display:block; 
 	color:#8f8f8f;
}
.bottom_ul { 
 	list-style-type:none; 
 	float:right; 
 	margin-bottom:0px;
}
.bottom_ul li { 
 	float:left; 
 	line-height:40px;
}
.bottom_ul li:after { 
 	content:"/"; 
 	color:#fff; 
 	margin-right:8px; 
 	margin-left:8px;
}
.bottom_ul li a { 
 	color:#FFF;  
 	font-size:12px;
}
